{
  "extends": "airbnb",
  "rules": {
    "arrow-body-style": "off",
    "react/prop-types": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  }
}